{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 py-3">
            <div class="card">
                <h5 class="card-header">Обратная связь</h5>
                <form action="{% url 'contact' %}" class="form-box"  method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                <div class="card-body">
                    <div class="form-error"></div>
                    <p>{{ form.name }}</p>
                    <p>{{ form.email }}</p>
                    <p>{{ form.phone }}</p>
                    <p>{{form.message}}</p>
                    <p>{{form.captcha}}</p>
                    <p><button type="submit" class="btn btn-card">Отправить сообщение</button></p>
                </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
{% include "main/footer.html" with page=card %}
{% endblock %}