{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    <!-- НОВОСТИ 3 ШТ -->
                <div class="container">
                    <h2>Новости</h2>
                    <hr>
                    <div class="row">
                        
                        {% for n in news%}
<!-- НОВОСТЬ START -->
<div Class="col-md-4 col-sm-12  py-1">
    <div class="container box box-fon h-100"> 
        <div class="row">
            {% if n.img %}
            <div class="col img-box150" style="background-image: url({{n.img.url}});">
                {%else%}
                <div class="col img-box150" style="background-image: url({% static 'main/img/dom.png' %});">
                {%endif%}
                <span class="box-data ">{{n.publish|date:"d-m-Y" }}</span> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="box-content">
                    <h4 class="text-m text-center">{{n.title}}</h4>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col ">
                <div class="box-content">
                    {{n.body|safe|truncatewords:15}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center ">
                <a class="btn btn-sm btn-card" href="{{ n.get_absolute_url }}">Подробнее</a>
            </div>
            <hr class="space m" />
        </div>
    </div>
</div>   
<!--НОВОСТЬ END-->
                        {% endfor %}
                    </div> <!--row-->
                </div><!--container-->
                <!-- НОВОСТИ 3 ШТ END-->
{% endblock %}

{% block footer %}
{% include "main/footer.html" with page=card %}
{% endblock %}
