{% if queryset.has_other_pages %}
<!--больше одной страницы-->
<nav aria-label="Пример навигации по страницам">
    <ul class="pagination justify-content-center">
        {% if queryset.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.previous_page_number }}"
               data-page="{{ page.previous_page_number }}">
                &lt;</a>
        </li>
        {%endif%}

        {% for page in custom_range %}

        {% if page == queryset.number %}
        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}" data-page="{{ page }}">{{ page }}</a>
        </li>
        {% endif %}

        {% endfor %}


        {% if queryset.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ queryset.next_page_number }}" data-page="{{queryset.next_page_number}}">&gt;</a>
        </li>

        {%endif%}
    </ul>
</nav>
{% endif %}